{
.appVersion = "3436";
.formatVersion = 3;
axes = (
{
name = Weight;
tag = wght;
}
);
classes = (
{
automatic = 1;
code = "A Aacute Acircumflex Adieresis Agrave Amacron Aogonek B C Cacute Ccaron Ccedilla D Dcaron E Eacute Ecaron Ecircumflex Edieresis Edotaccent Egrave Emacron Eogonek F G H I IJ Iacute Icircumflex Idieresis Igrave Imacron Iogonek J Jacute K L Lacute Lcaron M N Nacute Ncaron O Oacute Ocircumflex Odieresis Ograve Omacron P Q R Racute Rcaron S Sacute Scaron Scedilla T Tcaron Tcedilla U Uacute Ucircumflex Udieresis Ugrave Umacron Uogonek V W Wacute Wcircumflex Wdieresis Wgrave X Y Yacute Ycircumflex Ydieresis Ygrave Z Zacute Zcaron Zdotaccent Omega";
name = Uppercase;
}
);
customParameters = (
{
name = glyphOrder;
value = (
);
},
{
name = "Update Features";
value = 1;
},
{
name = "EditView Line Height";
value = 1400;
}
);
date = "2024-09-07 11:22:52 +0000";
familyName = Conforma_260306;
featurePrefixes = (
{
automatic = 1;
code = "languagesystem DFLT dflt;

languagesystem latn dflt;
languagesystem latn NLD;

languagesystem thai dflt;
";
name = Languagesystems;
}
);
features = (
{
automatic = 1;
code = "feature locl;
feature sups;
feature frac;
feature ordn;
feature case;
";
tag = aalt;
},
{
code = "lookup thai_decomb {
# Decompose SaraAm
 sub saraAm-thai by nikhahit-thai saraAa-thai;
} thai_decomb;

lookup thai_ccmp_0 {
	#2 Combine nikhahit with tone marks (regular set) 
	sub maiEk-thai nikhahit-thai by nikhahit_maiEk-thai;
	sub maiTho-thai nikhahit-thai by nikhahit_maiTho-thai;
	sub maiTri-thai nikhahit-thai by nikhahit_maiTri-thai;
	sub maiChattawa-thai nikhahit-thai by nikhahit_maiChattawa-thai;
	sub nikhahit-thai maiEk-thai by nikhahit_maiEk-thai;
	sub nikhahit-thai maiTho-thai by nikhahit_maiTho-thai;
	sub nikhahit-thai maiTri-thai by nikhahit_maiTri-thai;
	sub nikhahit-thai maiChattawa-thai by nikhahit_maiChattawa-thai;
} thai_ccmp_0;

lookup thai_ccmp_1 {
	# Change base glyphs when followed by below baseline marks
	sub [yoYing-thai thoThan-thai doChada-thai toPatak-thai ru-thai lu-thai]' [saraU-thai saraUu-thai phinthu-thai] by [yoYing-thai.less thoThan-thai.less doChada-thai.short toPatak-thai.short ru-thai.short lu-thai.short];

	# When marks are followed by tone marks, switch to small mark set
	sub [maiEk-thai maiTho-thai maiTri-thai maiChattawa-thai thanthakhat-thai maitaikhu-thai nikhahit-thai maiHanaKat-thai saraI-thai saraIi-thai saraUe-thai saraUee-thai maitaikhu-thai.narrow nikhahit-thai.narrow maiHanaKat-thai.mid maitaikhu-thai.mid saraI-thai.mid saraIi-thai.mid saraUe-thai.mid saraUee-thai.mid] [maiEk-thai maiTho-thai maiTri-thai maiChattawa-thai thanthakhat-thai]' by [maiEk-thai.small maiTho-thai.small maiTri-thai.small maiChattawa-thai.small thanthakhat-thai.small];

	# Change certain base glyphs when followed by any marks 
	sub [soSua-thai soSala-thai hoNokhuk-thai loChula-thai]' [maiEk-thai maiTho-thai maiTri-thai maiChattawa-thai thanthakhat-thai maitaikhu-thai nikhahit-thai maiHanaKat-thai saraI-thai saraIi-thai saraUe-thai saraUee-thai nikhahit_maiEk-thai nikhahit_maiTho-thai nikhahit_maiTri-thai nikhahit_maiChattawa-thai] by [soSua-thai.short soSala-thai.short hoNokhuk-thai.short loChula-thai.short];

	sub [soSua-thai soSala-thai hoNokhuk-thai loChula-thai]' [saraU-thai saraUu-thai] [maiEk-thai maiTho-thai maiTri-thai maiChattawa-thai] by [soSua-thai.short soSala-thai.short hoNokhuk-thai.short loChula-thai.short];

	# Change loChula when followed by above marks
	sub [loChula-thai]' [maiEk-thai maiTho-thai maiTri-thai maiChattawa-thai thanthakhat-thai  maitaikhu-thai nikhahit-thai maiHanaKat-thai saraI-thai saraIi-thai saraUe-thai saraUee-thai nikhahit_maiEk-thai nikhahit_maiTho-thai nikhahit_maiTri-thai nikhahit_maiChattawa-thai] by [loChula-thai.short];

	# Change normal marks to small when followed certain base glyphs
	sub [yoYing-thai.less thoThan-thai.less doChada-thai.short toPatak-thai.short ru-thai.short lu-thai.short] [phinthu-thai saraU-thai saraUu-thai]' by [phinthu-thai.small saraU-thai.small saraUu-thai.small];

	# Use small tone marks when following volwel marks
	sub [nikhahit-thai maiChattawa-thai maiEk-thai maiHanaKat-thai thanthakhat-thai maiTho-thai maiTri-thai maitaikhu-thai saraI-thai saraIi-thai saraUe-thai saraUee-thai] [maiEk-thai maiTho-thai maiTri-thai maiChattawa-thai thanthakhat-thai]' by [maiEk-thai.small maiTho-thai.small maiTri-thai.small maiChattawa-thai.small thanthakhat-thai.small];

	# Use small tone marks when following narrow marks
	sub [nikhahit-thai.narrow saraI-thai.narrow saraIi-thai.narrow saraUe-thai.narrow saraUee-thai.narrow maiHanaKat-thai.narrow] [maiEk-thai maiTho-thai maiTri-thai maiChattawa-thai thanthakhat-thai]' by [maiEk-thai.small maiTho-thai.small maiTri-thai.small maiChattawa-thai.small thanthakhat-thai.small];

	# Use narrow vowels when following poPla-thai foFa-thai
	sub [poPla-thai foFa-thai ] [maiHanaKat-thai maiEk-thai maiTho-thai maiTri-thai maiChattawa-thai thanthakhat-thai maitaikhu-thai saraI-thai saraIi-thai saraUe-thai saraUee-thai nikhahit-thai]' by [maiHanaKat-thai.narrow maiEk-thai.narrow maiTho-thai.narrow maiTri-thai.narrow maiChattawa-thai.narrow thanthakhat-thai.narrow maitaikhu-thai.narrow saraI-thai.narrow saraIi-thai.narrow saraUe-thai.narrow saraUee-thai.narrow nikhahit-thai.narrow];

	sub [foFan-thai] [maiEk-thai maiTho-thai maiTri-thai maiChattawa-thai thanthakhat-thai nikhahit-thai]' by [maiEk-thai.narrow maiTho-thai.narrow maiTri-thai.narrow maiChattawa-thai.narrow thanthakhat-thai.narrow nikhahit-thai.narrow];

	# Change the set of nikhahit comnination to Narrow set
	sub [poPla-thai foFa-thai foFan-thai] [nikhahit_maiEk-thai nikhahit_maiTho-thai nikhahit_maiTri-thai nikhahit_maiChattawa-thai]' by [nikhahit_maiEk-thai.narrow nikhahit_maiTho-thai.narrow nikhahit_maiTri-thai.narrow nikhahit_maiChattawa-thai.narrow];

	# Use narrow tone marks when both descender and ascender marks are present
	sub [poPla-thai foFa-thai foFan-thai] [saraU-thai saraUu-thai phinthu-thai] [maiEk-thai maiTho-thai maiTri-thai maiChattawa-thai thanthakhat-thai]' by [maiEk-thai.narrow maiTho-thai.narrow maiTri-thai.narrow maiChattawa-thai.narrow thanthakhat-thai.narrow];

	# Use .mid to replace normal width mark for narrow set and foFan + foFa
	sub [khoKhai-thai khoKhuat-thai roRua-thai woWaen-thai ngoNgu-thai foFan-thai] [maitaikhu-thai saraI-thai saraIi-thai saraUe-thai saraUee-thai]' by [maitaikhu-thai.mid saraI-thai.mid saraIi-thai.mid saraUe-thai.mid saraUee-thai.mid]; 
	
	sub [roRua-thai foFan-thai] [maiHanaKat-thai]' by [maiHanaKat-thai.mid];

	# Narrow tone marks followed by regular tone marks → use small tone mark
	sub [maiEk-thai.narrow maiTho-thai.narrow maiTri-thai.narrow maiChattawa-thai.narrow thanthakhat-thai.narrow] [maiEk-thai maiTho-thai maiTri-thai maiChattawa-thai thanthakhat-thai]' by [maiEk-thai.small maiTho-thai.small maiTri-thai.small maiChattawa-thai.small thanthakhat-thai.small];
} thai_ccmp_1;

lookup thai_ccmp_2 {

	sub [maiTho-thai maiTri-thai maiChattawa-thai thanthakhat-thai]' [saraO-thai saraAiMaimuan-thai saraAiMaimalai-thai] by [maiTho-thai.avoid maiTri-thai.avoid maiChattawa-thai.avoid thanthakhat-thai.avoid];

} thai_ccmp_2;

";
tag = ccmp;
},
{
automatic = 1;
code = "script latn;
language NLD;
lookup locl_latn_0 {
	sub iacute j' by jacute;
	sub Iacute J' by Jacute;
} locl_latn_0;
";
tag = locl;
},
{
automatic = 1;
code = "sub one by onesuperior;
sub two by twosuperior;
sub three by threesuperior;
";
tag = sups;
},
{
automatic = 1;
code = "sub one slash four by onequarter;
sub one slash two by onehalf;
sub three slash four by threequarters;
";
tag = frac;
},
{
automatic = 1;
code = "sub [zero one two three four five six seven eight nine] [A a]' by ordfeminine;
sub [zero one two three four five six seven eight nine] [O o]' by ordmasculine;
";
tag = ordn;
},
{
automatic = 1;
code = "sub hyphen by hyphen.case;
sub parenleft by parenleft.case;
sub parenright by parenright.case;
sub bracketleft by bracketleft.case;
sub bracketright by bracketright.case;
sub dieresiscomb by dieresiscomb.case;
sub dotaccentcomb by dotaccentcomb.case;
sub acutecomb by acutecomb.case;
sub circumflexcomb by circumflexcomb.case;
sub caroncomb by caroncomb.case;
sub macroncomb by macroncomb.case;
";
tag = case;
},
{
automatic = 1;
code = "lookup rlig_thai_0 {
	lookupflag IgnoreMarks;
	sub lu-thai lakkhangyao-thai by lu_lakkhangyao-thai;
	sub ru-thai lakkhangyao-thai by ru_lakkhangyao-thai;
} rlig_thai_0;

script thai;
lookup rlig_thai_0;
";
tag = rlig;
},
{
automatic = 1;
code = "lookupflag IgnoreMarks;
sub f i by fi;
sub f l by fl;
";
tag = liga;
}
);
fontMaster = (
{
axesValues = (
400
);
customParameters = (
{
name = typoAscender;
value = 875;
},
{
name = typoDescender;
value = -190;
},
{
name = typoLineGap;
value = 0;
},
{
name = hheaAscender;
value = 875;
},
{
name = hheaDescender;
value = -190;
},
{
name = winAscent;
value = 1098;
},
{
name = winDescent;
value = -481;
}
);
guides = (
{
locked = 1;
name = THmark.small_top;
pos = (767,1046);
},
{
locked = 1;
pos = (699,1020);
},
{
pos = (540,885);
},
{
angle = 90;
pos = (-72,402);
},
{
angle = 90;
locked = 1;
pos = (-222,354);
},
{
locked = 1;
pos = (101,616);
},
{
locked = 1;
pos = (28,822);
}
);
id = m01;
metricValues = (
{
pos = 875;
},
{
over = 12;
pos = 670;
},
{
over = 12;
pos = 500;
},
{
over = -12;
},
{
over = -12;
pos = -190;
},
{
},
{
over = 12;
pos = 536;
},
{
over = -12;
pos = -204;
},
{
over = 12;
pos = 700;
}
);
name = Regular;
stemValues = (
74,
94
);
userData = {
GSCornerRadius = 40;
};
}
);
instances = (
{
axesValues = (
400
);
customParameters = (
{
name = Filter;
value = RemoveOverlap;
}
);
instanceInterpolations = {
m01 = 1;
};
name = Regular;
}
);
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
filter = "NOT script == \"thai\"";
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
},
{
type = "italic angle";
},
{
filter = "script == \"thai\"";
name = "Bor Height";
},
{
filter = "script == \"thai\"";
type = descender;
},
{
}
);
properties = (
{
key = copyrights;
values = (
{
language = dflt;
value = "Copyright by Ratchanon Boongsrithong, 2024–2025. All rights reserved.";
}
);
},
{
key = descriptions;
values = (
{
language = dflt;
value = "Conforma is designed by Vee Ratchanon in 2024. This version was made exclusively for Visvaldas in 2025.";
}
);
},
{
key = designers;
values = (
{
language = dflt;
value = "Vee Ratchanon";
}
);
},
{
key = designerURL;
value = veeratchanon.com;
}
);
stems = (
{
horizontal = 1;
name = hStem1;
},
{
name = vStem0;
}
);
unitsPerEm = 1000;
userData = {
GSDimensionPlugin.Dimensions = {
m002 = {
nV = "174";
oH = "102";
oV = "186";
};
m003 = {
HH = "140";
HV = "187";
OH = "126";
OV = "196";
nV = "176";
oH = "114";
oV = "184";
thaiHRound = "111";
thaiHStem = "113";
thaiVStem = "178";
};
m01 = {
HH = "82";
HV = "100";
OH = "80";
OV = "102";
nV = "96";
nd = "66";
oH = "74";
oV = "98";
tH = "68";
thaiHBall = "55";
thaiHRound = "74";
thaiHStem = "74";
thaiVBall = "60";
thaiVStem = "92";
};
};
};
versionMajor = 1;
versionMinor = 0;
}
