(
A,
Aacute,
Acircumflex,
Adieresis,
Agrave,
Amacron,
Aogonek,
B,
C,
Cacute,
Ccaron,
Ccedilla,
D,
Dcaron,
E,
Eacute,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
F,
G,
H,
I,
IJ,
Iacute,
Icircumflex,
Idieresis,
Igrave,
Imacron,
Iogonek,
J,
Jacute,
K,
L,
Lacute,
Lcaron,
M,
N,
Nacute,
Ncaron,
O,
Oacute,
Ocircumflex,
Odieresis,
Ograve,
Omacron,
P,
Q,
R,
Racute,
Rcaron,
S,
Sacute,
Scaron,
Scedilla,
T,
Tcaron,
Tcedilla,
U,
Uacute,
Ucircumflex,
Udieresis,
Ugrave,
Umacron,
Uogonek,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Z,
Zacute,
Zcaron,
Zdotaccent,
Abreve,
Aring,
Atilde,
AE,
Dcroat,
Eth,
Gcommaaccent,
Kcommaaccent,
Lcommaaccent,
Lslash,
Ncommaaccent,
Ntilde,
Ohungarumlaut,
Oslash,
Otilde,
OE,
Thorn,
Rcommaaccent,
Germandbls,
Uhungarumlaut,
Uring,
a,
aacute,
acircumflex,
adieresis,
agrave,
amacron,
aogonek,
b,
c,
cacute,
ccaron,
ccedilla,
d,
dcaron,
e,
eacute,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
f,
g,
h,
i,
idotless,
iacute,
icircumflex,
idieresis,
igrave,
imacron,
iogonek,
ij,
j,
jdotless,
jacute,
k,
l,
lacute,
lcaron,
m,
n,
nacute,
ncaron,
o,
oacute,
ocircumflex,
odieresis,
ograve,
omacron,
p,
q,
r,
racute,
rcaron,
s,
sacute,
scaron,
scedilla,
t,
tcaron,
tcedilla,
u,
uacute,
ucircumflex,
udieresis,
ugrave,
umacron,
uogonek,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ygrave,
z,
zacute,
zcaron,
zdotaccent,
abreve,
aring,
atilde,
ae,
dcroat,
eth,
gcommaaccent,
kcommaaccent,
lcommaaccent,
lslash,
ncommaaccent,
ntilde,
ohungarumlaut,
oslash,
otilde,
oe,
thorn,
rcommaaccent,
germandbls,
uhungarumlaut,
uring,
fi,
fl,
ordfeminine,
ordmasculine,
Omega,
pi,
"koKai-thai",
"khoKhai-thai",
"khoKhuat-thai",
"khoKhwai-thai",
"khoKhon-thai",
"khoRakhang-thai",
"ngoNgu-thai",
"choChan-thai",
"choChing-thai",
"choChang-thai",
"soSo-thai",
"choChoe-thai",
"yoYing-thai",
"yoYing-thai.less",
"doChada-thai",
"doChada-thai.short",
"toPatak-thai",
"toPatak-thai.short",
"thoThan-thai",
"thoThan-thai.less",
"thoNangmontho-thai",
"thoPhuthao-thai",
"noNen-thai",
"doDek-thai",
"toTao-thai",
"thoThung-thai",
"thoThahan-thai",
"thoThong-thai",
"noNu-thai",
"boBaimai-thai",
"poPla-thai",
"phoPhung-thai",
"foFa-thai",
"phoPhan-thai",
"foFan-thai",
"phoSamphao-thai",
"moMa-thai",
"yoYak-thai",
"roRua-thai",
"ru-thai",
"ru_lakkhangyao-thai",
"loLing-thai",
"lu-thai",
"lu_lakkhangyao-thai",
"woWaen-thai",
"soSala-thai",
"soRusi-thai",
"soSua-thai",
"hoHip-thai",
"loChula-thai",
"loChula-thai.short",
"oAng-thai",
"hoNokhuk-thai",
"saraA-thai",
"saraAa-thai",
"saraAm-thai",
"saraE-thai",
"saraAe-thai",
"saraO-thai",
"saraAiMaimuan-thai",
"saraAiMaimalai-thai",
"lakkhangyao-thai",
"soSua-thai.001",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
fraction,
onehalf,
onequarter,
threequarters,
onesuperior,
twosuperior,
threesuperior,
space,
nbspace,
zerowidthspace,
zerowidthnonjoiner,
zerowidthjoiner,
wordjoiner,
"maiyamok-thai",
"paiyannoi-thai",
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
hyphen,
endash,
emdash,
underscore,
hyphen.case,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
parenleft.case,
parenright.case,
bracketleft.case,
bracketright.case,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
florin,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
dagger,
daggerdbl,
cent,
dollar,
euro,
sterling,
yen,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
infinity,
integral,
increment,
product,
summation,
radical,
micro,
partialdiff,
percent,
perthousand,
lozenge,
dottedCircle,
"maiHanaKat-thai",
"maiHanaKat-thai.narrow",
"maiEk-thai",
"maiEk-thai.small",
"maiTho-thai",
"maiTho-thai.small",
"maiTho-thai.narrow",
"maiTri-thai",
"maiTri-thai.small",
"maiTri-thai.narrow",
"maiChattawa-thai",
"maiChattawa-thai.small",
"thanthakhat-thai",
"thanthakhat-thai.small",
"thanthakhat-thai.narrow",
"maitaikhu-thai",
"maitaikhu-thai.narrow",
"saraI-thai",
"saraI-thai.narrow",
"saraIi-thai",
"saraIi-thai.narrow",
"saraUe-thai",
"saraUe-thai.narrow",
"saraUee-thai",
"saraUee-thai.narrow",
"nikhahit-thai",
"phinthu-thai",
"phinthu-thai.small",
"saraU-thai",
"saraU-thai.small",
"saraUu-thai",
"saraUu-thai.small",
"maiChattawa-thai.narrow",
"nikhahit-thai.narrow",
"maitaikhu-thai.small",
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
macroncomb,
cedillacomb,
ogonekcomb,
dieresiscomb.case,
dotaccentcomb.case,
acutecomb.case,
circumflexcomb.case,
caroncomb.case,
macroncomb.case,
hungarumlautcomb,
brevecomb,
ringcomb,
tildecomb,
commaturnedabovecomb,
commaaccentcomb,
graphemejoinercomb,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek
)